<%= form_for(@crm) do |f| %>
  <% if @crm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crm.errors.count, "error") %> prohibited this crm from being saved:</h2>

      <ul>
      <% @crm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :clientName %><br>
    <%= f.text_area :clientName %>
  </div>
  <div class="field">
    <%= f.label :phoneNumber %><br>
    <%= f.text_field :phoneNumber %>
  </div>
  <div class="field">
    <%= f.label :contactPhoneNumber %><br>
    <%= f.text_field :contactPhoneNumber %>
  </div>
  <div class="field">
    <%= f.label :nip %><br>
    <%= f.text_field :nip %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :services %><br>
    <%= f.text_area :services %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
